<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>CONTACT US</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <!----------------Global css---------------->
    <link rel="stylesheet" href="stylesheets/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/wow/css/animate.css">
    <link rel="stylesheet" href="vendors/iCheck/css/all.css">
    <!-------------------Custom css-------------->
    <link rel="stylesheet" href="stylesheets/custom.css">
</head>
<body>
<!---------------Preloader--------------------->
<div class="preloader" style="position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:100000;
    backface-visibility: hidden;
    background: #ffffff;">
    <div style=" width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin:-25px 0 0 -25px;">
        <img src="images/loader.gif" alt="loading...">
    </div>
</div>
<!----------------------Preloader end---------------->
<div class="tp-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-md-6">
                <a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-5 col-md-6 text-right">
                <span class="signin" data-toggle="modal" data-target="#myModal"><span class="hidden-xs">Sign In</span><i
                        class="fa fa-sign-in visible-xs-block" aria-hidden="true"></i> </span>
                <span class="register" data-toggle="modal" data-target="#myModal"><span
                        class="hidden-xs">Register</span><i class="fa fa-user-plus visible-xs-block"
                                                            aria-hidden="true"></i></span>

            </div>
        </div>
    </div>
</div>
<header>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myMegamenu"><span
                        class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="images/3.png" class="img-responsive" alt="company-logo">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myMegamenu">
                <ul class="nav navbar-nav">
                    <li class="list2"><a href="index.html" class="hvr-underline-from-center">HOME</a></li>
                    <li class="list2"><a href="services.html" class="hvr-underline-from-center">SERVICES</a></li>
                    <li class="list2"><a href="about_us.html" class="hvr-underline-from-center">ABOUT</a></li>
					<li class="list2"><a href="blog.html" class="hvr-underline-from-center">BLOG</a></li>
                    <li class="list2"><a href="careers.html" class="hvr-underline-from-center">CAREERS</a></li>
					<li class="list2"><a href="products.html" class="hvr-underline-from-center">PRODUCTS</a></li>
                    <li class="list2"><a href="contact_us.html" class="hvr-underline-from-center">CONTACT US</a></li>
                </ul>
            </div>

        </nav>
    </div>
</header>
<!--Login And Register Modal-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <br>
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs ">
                    <li id="signin_tab" class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
                    <li id="reg_tab"><a href="#signup" data-toggle="tab">Register</a></li>
                </ul>
            </div>
            <div class="modal-body">
                <div id="myTabContent" class="tab-content">
                    <div class=" signin tab-pane fade active in" id="signin">
                        <form class="form-horizontal" action="contact.php" method="post">
                            <fieldset>
                                <div class="control-group section-top-10">
                                    <label class="control-label" for="userid"><span
                                            class="glyphicon glyphicon-user text-primary"></span> User Id :</label>
                                    <div class="controls">
                                        <input id="userid" name="userid" type="text" class="form-control input-medium"
                                               placeholder="user Id" required>
                                    </div>
                                </div>
                                <div class="control-group section-top-10">
                                    <label class="control-label" for="passwordinput"><span
                                            class="glyphicon glyphicon-eye-open text-primary"></span> Password :</label>
                                    <div class="controls">
                                        <input type="password" id="passwordinput" name="passwordinput"
                                               class="form-control input-medium" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="blue">Remember me</label>
                                </div>
                                <div class="control-group">
                                    <div class="controls section-top-10">
                                        <button id="signin_btn" name="signin" class="btn btn-success form-control">Sign
                                            In
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade signup" id="signup">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group section-top-10">
                                    <label for="user"><span class="glyphicon glyphicon-user text-primary"></span> Name
                                        :</label>
                                    <div class="controls">
                                        <input id="user" name="userid" class="form-control input-large" type="text"
                                               placeholder="Name" required="">
                                    </div>
                                </div>
                                <div class="control-group section-top-10">
                                    <label class="control-label" for="Email_id"><span
                                            class="glyphicon glyphicon-envelope text-primary"></span> Email :</label>
                                    <div class="controls">
                                        <input id="Email_id" name="Email" class="form-control input-large" type="email"
                                               placeholder="abcdef@xyz.com" required>
                                    </div>
                                </div>
                                <div class="control-group section-top-10">
                                    <label for="password"><span
                                            class="glyphicon glyphicon-eye-open text-primary"></span>
                                        Password :</label>
                                    <div class="controls">
                                        <input id="password" name="password" class="form-control input-large"
                                               type="password" placeholder="Password" required>

                                    </div>
                                </div>
                                <div class="control-group section-top-10">
                                    <label class="control-label" for="reenterpassword"><span
                                            class="glyphicon glyphicon-repeat text-primary"></span> Re-Enter Password :</label>
                                    <div class="controls">
                                        <input id="reenterpassword" class="form-control input-large"
                                               name="reenterpassword" type="password" placeholder="Re Enter Password"
                                               required="">
                                    </div>
                                </div>
                                <div class="control-group section-top-10">
                                    <label class="control-label" for="confirmsignup"></label>
                                    <div class="controls">
                                        <button id="confirmsignup" name="confirmsignup"
                                                class="btn btn-success form-control">Sign Up
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Login And Register Modal-->
<!------------------Body Section Start----------------->
<section class="contact_page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 m-t-50">
                <h2 class="underline heading">Contact Us</h2>
                <p class="text-center">Southwest Airlines is successful because the company understands it's a customer
                    service company. It also happens to be an airline.</p>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <div class="row contact_map_gap">
                    <div class="col-xs-12 text-justify section-top-30">
                        <h4 class="heading_left">Vedha Corporate</h4>
                    </div>
                    <div class="col-xs-12 section-top-10">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4 contact_mobile_number">
                        <h5>Contact details</h5>
                        <p>Phone : <a href="#"> 9876543021</a> <br/>Fax : <a href="#"> 040 12345678</a></p>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <h5>Our Location</h5>
                        <p>52436 Australia<br/> Sydney, 2127, Dunblane</p>
                    </div>

                    <div class="col-sm-12 col-lg-4 contact_mobile_number a:focus">
                        <h5>Email Us</h5>
                        <p><a href="#">info@corporate.com</a><br/><a href="#">sale@corporate.com</a></p>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 section-top-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">

                <div class="row contact_border">

                    <div class="contact_form">

                        <form class="form" action="contact.php" method="post">
                            <div class="col-xs-12"><h4 class="heading_left">Get in Touch</h4></div>
                            <div class="form-group col-xs-12 section-top-10">
                                <input type="text" class="form-control" name="name" placeholder="Name *" required>
                            </div>
                            <div class="clearfix visible-sm-block visible-md-block visible-xs-block"></div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <input type="email" class="form-control" name="email" placeholder="Email *" required>
                            </div>
                            <div class="form-group col-sm-6 col-xs-12">
                                <input type="text" class="form-control" name="number" pattern="[0-9]{10}"
                                       placeholder="Mobile *" required>
                            </div>
                            <div class="clearfix visible-sm-block visible-md-block visible-xs-block"></div>
                            <div class="col-xs-12 form-group">
                                <textarea class="form-control" rows="4" name="message" placeholder="Message *"
                                          required></textarea>
                            </div>
                            <div class="clearfix visible-sm-block visible-md-block visible-xs-block"></div>
                            <div class="col-md-12 text-center section-bottom-15">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="row section-top-25">
            <div class="col-xs-12">
                <div class="map"></div>
            </div>
        </div>
    </div>
</section>
<!-----------Body Section End-------------->

<%include footer.ejs%>