
<!----------------Footer Start--------------------->
<!------------Footer Caret Shape------------>
<div class="shape section-top-50"></div>
<!------------Footer Caret Shape end------------>
<section class="footer_one">
    <footer>
        <div class="container">
            <div class="row section-top-40">
                <div class="col-md-3 col-sm-6 section-top-25">
                    <h4 class="text-white">Corporate</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="footer_text_color">There are many variations of passages of Lorem Ipsum available,
                                but
                                the majority have suffered alteration.</p>
                        </div>

                        <div class="col-xs-12">
                            <span class="foot_icon">
                            <a href="#"><i class="fa fa-facebook section-top-10 footer_social_icons"
                                           aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter section-top-10 footer_social_icons"
                                           aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin section-top-10 footer_social_icons"
                                           aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram section-top-10 footer_social_icons"
                                           aria-hidden="true"></i></a>
                        </span>
                        </div>

                    </div>
                </div>

                <div class="col-md-3  col-lg-3 col-sm-6 section-top-25">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-white">Recent Posts</h4>
                            <hr/>
                        </div>
                        <div class="footer_contact">
                            <div class="col-md-1  col-xs-1"><a href="blog.html"><i class="fa fa-caret-right div_hover1"
                                                                                   aria-hidden="true"></i></a></div>
                            <div class="col-md-10  col-xs-10"><a href="blog.html" class="div_hover2">The right team in
                                    the
                                    right place</a><br/><span class="footer_text_color">Jan. 25, 2017   </span></div>
                        </div>
                        <div class="clearfix visible-xs-block visible-sm-block visible-lg-block visible-md-block"></div>
                        <div class="footer_contact">
                            <div class="col-md-1  col-xs-1 section-top-10"><a href="blog.html"><i
                                            class="fa fa-caret-right div_hover1" aria-hidden="true"></i></a></div>
                            <div class="col-md-10  col-xs-10 section-top-10"><a href="blog.html" class="div_hover2">How
                                    to
                                    develop your company </a><br/><span class="footer_text_color">Jan. 21, 2017   </span>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block visible-sm-block visible-lg-block visible-md-block"></div>
                        <div class="footer_contact">
                            <div class="col-md-1  col-xs-1 section-top-10"><a href="blog.html"><i
                                            class="fa fa-caret-right div_hover1" aria-hidden="true"></i></a></div>
                            <div class="col-md-10  col-xs-10 section-top-10"><a href="blog.html" class="div_hover2">
                                    Managing your community blog</a><br/><span
                                        class="footer_text_color">Jan. 18, 2017   </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 section-top-25">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-white">Dribbble</h4>
                            <hr/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="shots"></ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 section-top-25">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-white">Twitter Feed</h4>
                            <hr/>
                        </div>

                        <div class="col-xs-12">
                            <div class="tweet">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!-------------------Footer section End------------------>
<!------------------Copy rights------------------->
<section class="copy-rights">
    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-sm-6 section-top-15">
                <p class="footer_text_color"><a href="index.html">Home</a> &nbsp;
                    <a href="services.html">Services</a> &nbsp; <a href="about_us.html">About</a> &nbsp;
                    <a href="careers.html">Careers</a></p>

            </div>
            <div class="col-xs-12 col-sm-6 text-right section-top-15">

                <p class="footer_text_color  ">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div>
        </div>
        <a href="#" id="return-to-top"><img src="images/backto.png" alt="image-missing"></a>
    </div>
</section>
<!------------------Copy rights End------------------>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="vendors/plyr/js/plyr.js"></script>
<script src="vendors/wow/js/wow.min.js"></script>
<script src="vendors/jquery_newsTicker/js/newsTicker.js"></script>
<script src="vendors/iCheck/js/icheck.js"></script>
<script src="vendors/jribbble/js/jribbble.min.js"></script>
<!-----------------Page Level Js------------------->
<script src="javascripts/custom.js"></script>
</body>
</html>
