<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>BLOG</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <!----------------Globaal css---------------->
    <link href="stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendors/plyr/css/plyr.css" rel="stylesheet">
    <link href="vendors/wow/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="vendors/iCheck/css/all.css">
    <!--------------------custom css---------------->
    <link rel="stylesheet" href="stylesheets/custom.css">
</head>